*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease-in;
}

img,
video,
figcaption,
figure {
    max-width: 100%;
    object-fit: cover;
}

// input {
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     appearance: none;
    
// }
