// Couleurs principales 
$primary: #9747FF;
$primary-50: rgba($primary, 0.5);
$secondary: #6A1BDA;


//background Color
$background-gradient: no-repeat linear-gradient(#68509C, #F5F5F5);
$background-gray: #DEDEDE;
$background-main: #32398E;


//input Colors
$input-color: #E0DEDE;

//Texte Colors
$black: #000000;
$black-58: rgba($black,0.58);
$white: #FFFFFF;
$darker-white: #FFFDFD;
 

//Etat Colors
$error: #FF0000;



