@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../base/typography" as *;

@mixin button($height, $width, $max-width: null, $background-color, $text-color, $shadow: false) {
    @include dimension($height: $height, $width: $width, $max-width: $max-width);
    background-color: $background-color;
    color: $text-color;
    border: none;
    @if $shadow {
        @include box-shadow;
        &:hover {
            @include box-shadow;
        }
    }

    &:hover {
        cursor: pointer;
    }

    // &:active {
    //     $shadow: false;
    // }
}

button {
    @include button(clamp(35px, 5vw, 45px), 100%, 163px, $background-main, $darker-white, false);
    @include border($radius: 30px);

    &:hover {
        background-color: $primary;
        @include border($color: $darker-white, $width: 3px, $isbordervisible: true);
    }
    &:active {
        box-shadow: none;
        transition: 0.3s;
    }
}

.btn-large {
    @include dimension($height: clamp(25px, 5vw, 29px), $width: 100%, $max-width: 411px);
}
.btn-small {
    @include dimension($height: clamp(25px, 5vw, 29px), $width: 100%, $max-width: 87px);
}

.btn-rectangle {
    @include dimension($height: clamp(35px, 5vw, 42px), $width: 100%, $max-width: 134px);
    @include border($radius: 10px);
}
