@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../base/typography" as *;

.dashboard-nav-container {
    background-color: $background-main;
    grid-column: 1/3;
    grid-row: 1/8;
    color: $white;
    padding: 1rem;
    @include flex(column, 3rem);
}

.nav-header {
    @include flex(row, $justify: space-between);
}
.nav-header-info-user {
    @include flex(row, 0.5rem, center);
    cursor: pointer;
}

.nav-header-icones {
    @include flex(row, 0.5rem, center);
    cursor: pointer;
}

.dashboard-navigation-container {
    @include flex(column, 3rem);
}

.navigation-title {
    margin-left: 3.5rem;
    font-weight: $font-weight-bold;
}
.navigation {
    @include flex(column, 1rem);

    li {
        @include flex(row, 2rem, center);
        cursor: pointer;
    }
}

.nav-footer {
    margin-top: auto;
}
